* {
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: black;
    font-family: "Nunito", sans-serif;
}
#principal {
    & #foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    padding: 6px;
    position: relative;
    }
    & img {
        width: 100%;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        width: 150px;
        height: 150px;  
    }
    & main {
        & #topo {
            
        }
    }
}