* {
    color: #ffffff;
    background-color: black;
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}
.foto {
    display: flex;
    height: 150px;
    width: 150px;
    border-radius: 400px;
}
header {
    margin-top: 8px;
    display: flex;
    align-items: center;
    & div {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }
    & strong {
        color: #7cffb0;
    }
}

nav {
    & ul {
        display: flex;
        margin-top: 8px;
        gap: 8px;
    }
}
a:hover { 
 border-bottom: 3px solid #7CFFB0;
}

main {
    margin-top: 20px;
   & p {
    height: 80px;
    width: 680px;
   }
}


